.header__logo {
  max-width: 142px;
  margin-bottom: 37px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 0 0 20px 20px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 103px;
    margin: 0 0 32px 27px;
  }
}
