.popup-image__close-button {
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 540px) {
  .popup-image__close-button {
    right: 40px;
    top: -50px;
  }
}

@media screen and (max-width: 400px) {
  .popup-image__close-button {
    right: 40px;
    top: -36px;
  }
}
